HELP.md
.gradle
build/
redis/
docker/mongo/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/frontend/npm-v6.14.12/**
/src/main/resources/static/css/**
/src/main/resources/static/img/**
/src/main/resources/static/js/**
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
Store/src/main/generated/**
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*.DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
